# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
wheels/

# Virtual environments
.venv/
venv/
env/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
.coverage.*

# Application runtime data
*.db
*.sqlite3
*.mclip
*.part
logs/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# ENVIROMENT VARIABLE
env

# LICENSE SERVER/LICENSE DATA
license-server/
license_data/